button {
    background-color: #56baed;
  }

body{
background-color:#56baed;
margin:auto;
width:70%
}

h1{
    text-align: center;
}
p{
    font-size:20px;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.links{
width:50%;
margin:auto;
}

.img_link{
    width:60px;
    height:60px
}

a:link {
color: #FF0000;
}


a:hover {
color: #FF00FF;
}

a:active {
color: #00FF00;
}
p:hover  {
    background-color: yellow;
}

.img:hover{
    width: 400px;
    height:400px;
}

.img_div{
    margin: auto;
    width:400px; 
    height:400px;
}

.img{
    border: none;
    width: 200px;
    height: 200px;
}
button{
    padding:0px;
    border:0px;
}


.tooltip {
    position: relative;
    margin-left: 85%;
 }
 .tooltip::before {
    background-color: white;
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    content: attr(data-title);
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
 }
 .tooltip:hover::before {
    display: block;
 }

 .mountains{
     font-size: 24px;
 }



 







 
@import "compass/css3";


@import url(https://fonts.googleapis.com/css?family=Lato:100,400);

html {
  transform-style:preserver-3d;
  font-family:lato, sans-serif;
}
body {
  
  background-color:lighten(#4795c3,30%);
 background: radial-gradient(closest-corner,lighten(#4795c3,30%) 60%,rgba(lighten(#4795c3,30%),0.26));
  width:70%;
  height:80%;
  background-repeat:no-repeat;
}

ul {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width:535px;
  background-color: #343e48;
  position:relative;
   box-shadow:0 3px 8px rgba(black,.5); 

}
  ul:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
     width:100%;
    height:100%;
    opacity:.5;
     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=');
  }
 

.li {
  margin: 0 auto;
  display: inline-block;
  list-style: none;
  padding:0;
}

.link-nav {
  display: block;
  padding: 25px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-shadow:1px 0px rgba(black,.4);
  color: #686f77;
  letter-spacing:.2em;
  text-decoration: none;
  transition: color 200ms;
  transform-style: preserve-3d;
}

.link-nav:hover {
    color: #343e48;
  }
